@import '../../../assets/styles';

  @mixin color($color) {
    background-color: $color;
    width: 33%;
    height: 5px;
  }

._firstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: 0 1rem;
  
  ._textTitlePL {
    color: $textLightGray;
    font-size: $medium;
    font-weight: 600;
  }

  ._filterButtonPL {
    width: 6rem;
    height: 1.5rem;
    background-color: $buttonLightBlue;
    border-radius: 5px;
    opacity: 1;
    border: none;
    color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
  }

}

._linePL {
  width: 100%;
  margin: 10px 0;
  display: flex;
}

._one {
  @include color($darkGray);
}

._two {
  @include color($green);
}

._three {
  @include color($blue);
}

._finalContainer {
  margin: 0 1rem;
}

._netIncomeSummary {
  p._netIncomeText {
    color: $black;
    font-size: $small;
  }

  ._incomeNumbers {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    ._numberText {
      color: $textBlack;
      font-size: 1.5rem;
      font-weight: 700;
    }

    ._arrowUp {
      margin-left: 0.5rem;
    }
  }
}

._netProgressContainer {
  margin: 0.5rem 0;
}