@import '../../assets/styles/index.scss';

.tabComponent {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	a {
		text-decoration: none;
	}
	.tab {
		min-width: 120px;
		text-align: center;
		color: $black;
		background: #efefef;
		padding: 0.3rem 0;
		border-radius: 5px;
		font-size: 1rem;
		cursor: pointer;
	}
	.selected {
		color: $seaGreen;
	}
}
