@import '../../assets/styles/index.scss';

.tabComponent {
	display: flex;
	justify-content: space-evenly;
	.tab {
		color: $black;
		background: #efefef;
		padding: 0.3rem 2.5rem;
		border-radius: 5px;
		font-size: 1rem;
		cursor: pointer;
	}
	.selected {
		color: $seaGreen;
	}
}
