@import '../../../../assets/styles/index.scss';

.bodyMultiMake {
	display: flex;
	height: calc(100vh - 371px);
	align-items: flex-start;
	min-height: 500px;
	padding-top: 2rem;
}

.accountMakeSide {
	width: 45%;

	.to {
		display: flex;
		width: 90%;
		font-size: 1.2rem;
		justify-content: space-between;
		padding: 0rem 1rem;
		margin: 0 auto;
		align-items: center;
		margin-bottom: 10px;
		.accountButton {
			font-size: 1rem;
			background: #efefef;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100px;
			padding: 0.3rem 0.5rem;
			border-radius: 5px;
			color: $textGray;
			cursor: pointer;
		}
		.selected {
			color: $darkBlue;
		}
	}
	.buttonContainer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
	}

	.importButton {
		background-color: $sunGlow;
		border: none;
		color: #ffffff;
		padding: 0.3rem 0.6rem;
		width: 6rem;
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}

	.cardSelection {
		position: fixed;
		max-height: 400px;
		overflow-y: auto;
		z-index: 1;
		width: 35%;
		background: #dcdcdc;
		border-radius: 15px;
		.selectCard {
			margin: 10px 0px;
			.checkedVal {
				width: 25px;
				position: relative;
				right: -80%;
				padding: 5px;
				z-index: 1;
				background: #ffffff;
				height: 25px;
				border-radius: 5px;
				top: 16px;
				box-shadow: -1px 1px 4px 0px #000000cc;
				cursor: pointer;
			}
		}
	}
	._account {
		margin: 0 auto;
	}

	.QRWallet {
		display: flex;
		margin: 50px auto;
		width: 85%;
		justify-content: center;

		.copyWallet {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 1rem;
			background: #efefef;
			border-radius: 7px;
			border: 1px solid $seaGreen;
			margin-left: 10px;
			width: 60%;
			p {
				width: 80%;
				overflow: hidden;
				margin-right: 10px;
			}
			.copy {
				cursor: pointer;
			}
		}
	}
}

.multiFormContainer {
	margin-top: 20px;
	.multiForm {
		padding: 1rem;
		background: #efefef;
		border-radius: 7px;
		width: 85%;
		margin: 0 auto;
		.insertForm {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.addressInput {
				width: 40%;
			}
			.amountInput {
				width: 30%;
			}

			.checkBox {
				svg {
					background: #57d6af;
					padding: 7px;
					border-radius: 5px;
					cursor: pointer;
				}
			}
		}
		input {
			border-radius: 5px;
			padding: 5px 10px;
			border: 1px solid $seaGreen;
			background: transparent;

			&:disabled {
				border: none;
			}
		}

		.insertedList {
			max-height: 250px;
			overflow-y: auto;
		}

		.receiver {
			margin: 10px 0px;
			display: flex;
			justify-content: space-around;
			align-items: center;

			.nameReceiver {
				width: 30%;
				overflow: hidden;
			}

			.walletReceiver {
				width: 20%;
				overflow: hidden;
			}

			input {
				width: 20%;
			}

			.deleteBox {
				svg {
					background: $grayButton;
					padding: 7px;
					border-radius: 5px;
					cursor: pointer;
					height: 10px;
					width: 10px;
				}
			}

			.plusBox {
				background: $grayButton;
				padding: 7px;
				border-radius: 5px;
				cursor: pointer;
				height: 10px;
				width: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 15px;
				font-weight: bold;
			}
		}
	}
}

.inputMakeSide {
	width: 55%;
	padding: 2rem;
}

.buttonMakeContent {
	display: flex;
	justify-content: space-around;
	align-items: center;

	.buttonCancel {
		@include cancelButton();
	}
	.buttonSend {
		@include sendButton();
	}
}
