@import '../../../../assets/styles/index.scss';

.bodyBank {
	display: flex;
	align-items: flex-start;
	padding: 2rem 0;
	padding-bottom: 0;
}

.accountBankSide {
	width: 50%;
	padding: 1rem;
	._savingAccount {
		margin: 0 auto;
	}
	.toAccount {
		margin: 20px 0px;
		&:first-child {
			margin-top: 0;
		}
	}
	.cardSelection {
		position: fixed;
		max-height: 400px;
		overflow-y: auto;
		z-index: 1;
		width: 40%;
		background: #dcdcdc;
		border-radius: 15px;
		.selectCard {
			margin: 10px 0px;
			.checkedVal {
				width: 25px;
				position: relative;
				right: -80%;
				padding: 5px;
				z-index: 1;
				background: #ffffff;
				height: 25px;
				border-radius: 5px;
				top: 16px;
				box-shadow: -1px 1px 4px 0px #000000cc;
				cursor: pointer;
			}
		}
	}
	.to {
		display: flex;
		width: 90%;
		font-size: 1.2rem;
		justify-content: space-between;
		padding: 0rem 1rem;
		margin: 0 auto;
		align-items: center;
		margin-bottom: 10px;
		.accountButton {
			cursor: pointer;
			font-size: 1rem;
			background: #efefef;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100px;
			padding: 0.3rem 0.5rem;
			border-radius: 5px;
			color: $textGray;
		}
		.selected {
			color: $darkBlue;
		}
	}
	._account {
		margin: 0 auto;
	}

	.QRWallet {
		display: flex;
		margin: 50px auto;
		width: 85%;
		justify-content: center;

		.copyWallet {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 1rem;
			background: #efefef;
			border-radius: 7px;
			border: 1px solid $seaGreen;
			margin-left: 10px;
			width: 60%;
			p {
				width: 80%;
				overflow: hidden;
				margin-right: 10px;
			}
			.copy {
				cursor: pointer;
			}
		}
	}
}

.bankSide {
	padding: 3.5rem 2rem;
	width: 50%;
	color: $black;
	.bankData {
		background: #efefef;
		padding: 1rem;
		border-radius: 15px;
	}

	.bankRow {
		margin: 5px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			&:first-child {
				font-weight: bold;
				width: 48%;
			}
			&:last-child {
				width: 48%;
				text-align: right;
			}
		}
	}

	.bankLine {
		margin: 10px 0px;
		width: 100%;
		height: 1px;
		background: #d5d5d5;
	}

	.bankNote {
		margin: 5px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.7rem;
		p {
			&:first-child {
				font-weight: bold;
				width: 48%;
			}
			&:last-child {
				width: 48%;
				text-align: right;
			}
		}
	}
}

.inputBankSide {
	width: 30%;
	padding: 1rem;
}

.buttonBankContent {
	display: flex;
	justify-content: space-around;
	align-items: center;

	.buttonCancel {
		@include cancelButton();
		width: 8rem;
	}
	.buttonSend {
		@include sendButton();
		width: 8rem;
	}
}
