@import '../../assets/styles/index.scss';

@mixin colorWidth($color) {
	background-color: $color;
	width: 12.5%;
}

.paymentContainer {
	width: calc(100% - 250px);
  display: block;
  margin-left: auto;
}

.paymentBanner {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	.tabComponent {
		width: 60%;
	}
}

.totalAmount {
	width: 40%;
	color: $black;
	text-align: center;
	h3 {
		font-size: 2rem;
	}
	h1 {
		font-size: 4rem;
	}
}

._lineWidth {
	height: 3.5px;
	width: 99%;
	display: flex;
	margin: 30px auto;
}

._one1 {
	@include colorWidth($darkGray);
}

._two1 {
	@include colorWidth($green);
}

._three1 {
	@include colorWidth($perano);
}

._four1 {
	@include colorWidth($seaGreen);
}

._five1 {
	@include colorWidth($yellow);
}

._six1 {
	@include colorWidth($purple);
}

._seven1 {
	@include colorWidth($shineYellow);
}

._eight1 {
	@include colorWidth($shineYellow);
}
