@import '../../assets/styles';

._new_account {
  color: #d4d4d4;
  background: $tableGray;
  border-radius: 9px;
  margin-bottom: 2rem;
  width: calc(45% - 1rem);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $medium;

  ._btn {
    background: transparent linear-gradient(180deg, $darkBlueToBlue 100%) 0% 0% no-repeat padding-box;
    border-radius: 7px;
    color: $white;
    font-size: $large;
    padding: 13px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
}

@media (max-width: 1400px) {
  ._new_account {
    width: 100%;
  }
}