@import '../../assets/styles';

._new_account {
  color: #d4d4d4;
  background: $tableGray;
  border-radius: 9px;
  margin-bottom: 2rem;
  width: 48%;
  // padding: 24px;
  box-sizing: border-box;
  display: flex;
  padding: 0rem 1rem;
  align-items: center;
  justify-content: space-between;
  font-size: $medium;
  height: 5.8rem;
  box-sizing: border-box;

  ._btn {
    background: transparent linear-gradient(180deg, $darkBlueToBlue 100%) 0% 0% no-repeat padding-box;
    border-radius: 7px;
    color: $white;
    font-size: $large;
    padding:8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 37%;
  }
}

._rightCardText {
  text-align: center;
  font-size: 0.8rem;
}

._pointerCardDetail {
  cursor: pointer;
}

@media (max-width: 1366px) {
  ._new_account {
    width: 100%;
  }
}