@import '../../assets/styles/index.scss';

._qrCode {
  background: $whiteSmoke;
  display: flex;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid $seaGreen;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}