@import '../../assets/styles/';

._principalContainer {
  display: block;
}

._textUSDC {
  color: #C9C9C9;
  position: absolute;
  font-size: $small;
  font-weight: 700;
  top: 5%;
  left: 3%;
}

._textSaleUSDC {
  color: #C9C9C9;
  position: absolute;
  font-size: $small;
  font-weight: 700;
  top: 5%;
  left: 4%;
}

._balancecont {
  margin: 0 50px;
}

._topGraphics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 2rem;

  ._options {
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    // background-color: red;
  }
}

._parentGraphic {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;

  ._row {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  ._graphicContainer {
    // height: 200px;
    padding: 5px;
    background-color: $tableGray;
    position: relative;
    border-radius: 13px;

  }

  ._filterButton {
    width: 6rem;
    height: 1.5rem;
    background-color: $buttonLightBlue;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 5px;
    opacity: 1;
    border: none;
    color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
  }

  ._left {
    width: 67%;
  }

  ._bottom {
    display: flex;
    justify-content: space-between;
  }

  #_bankAccount, #_profitAndLost {
    width: 30%;
  }

    #_lines, #_cake {
      width: 48%;
    }

}