._balancecont {
  width: 50%;
}

._topGraphics {
  display: flex;
}

._buttonAction {
  width: 50%;
}

._parentGraphic {
  width: 100%;

  ._row {
    display: flex;
    justify-content: space-between;
  }

  ._graphicContainer {
    height: 200px;
    border: 1px solid black;
    margin-top: 1rem;
  }

  ._left {
    width: 65%;
  }

  ._bottom {
    display: flex;
    justify-content: space-between;
  }

  #_bankAccount, #_profitAndLost {
    width: 30%;
    margin-right: 2rem;
  }

    #_lines, #_cake {
      width: 48%;
    }

}