@import '../../assets/styles/index.scss';

._counterpartiesLabel {
  display: flex;
  align-items: center;
  width: 155px;
  height: 40px;
  padding: 0px 6px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  background: transparent linear-gradient(180deg, #5CD6B1 0%, #33A3DC 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

._timeLabel {
  display: flex;
  align-items: center;
  width: 105px;
  height: 20px;
  padding: 0px 6px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  background: transparent linear-gradient(180deg, #5CD6B1 0%, #33A3DC 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}
._counter_div{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}