@import '../../assets/styles/index.scss';

._counterpartiesContent {
  background-color: #F6F6F6;
  border-radius: 14px;
  padding-top: 25px;
  // max-height: 868px;
  overflow: hidden;
}

._counterpartiesLabel {
  display: flex;
  align-items: center;
  width: 10rem;
  // height: 40px;
  padding: 3px 5px;
  margin-left: 28px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 24px;
  background: transparent linear-gradient(270deg, #5CD6B1 0%, #33A3DC 100%) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  display: block;
}

._counterpartiesOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 36px;
}

._optionsTab{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

._tabFilterStyles {
  background: $whiteSmoke ;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  width: 5rem;
  justify-content: center;
  display: flex;
}

._timeLabel {
  display: flex;
  align-items: center;
  width: 7rem;
  padding: 0px 5px;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 24px;
  background: $blue;
  border-radius: 4px;
  opacity: 1;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
}
._counter_div{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

._inline_div{
display: flex;
align-items: flex-end;

}

._div_shadow{
  display: flex;
  align-items: flex-end;
  margin-left: 50px;
}

@mixin modal {
  background-color: #F6F6F6;
  height: 100vh;
  z-index: 999;
  width: 25%;
  display: block;
  margin-left: auto;
  transition: all 0.6s;
  border-radius: 5px;
}

._blur1 {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
  display: block;
  z-index: 999;
}

._blurNone1 {
  display: none;
  opacity: 0;
  animation: out 0.6s;
}

._showTool1 {
  @include modal;
  // display: block;
  animation: entry 0.6s;
}

._noneTool1 {
  // display: none;
  // width:-50%;
  animation: out 0.6s;
  display: none;
}

._closeTools1 {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

@keyframes entry {
  from {
    width: 0%
  }
  to {
    width: 25%;
  }
}

@keyframes out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

._formCountierParties {
  background-color: #F1F1F1;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

._formCounterparties {
  // background-color: orange;
  width: 80%;
}

._inputParty {
  background-color: $shadowGray;
  border:solid 1px $seaGreen;
  width: 100%;
  // display: block;
  // margin-right: auto;
  // margin-left: auto;;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 0.4rem 0.5rem;
  box-sizing: border-box;
  margin-top: 4px;
}
// ._formCounterparties {
//   background-color: green;
//   width: 300px;
//   ;
// }

._widthForm {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  // background-color: red;
}

._buttonActionParent {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

._tabFilterSelected {
  background: $blue;
  color: $white;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  width: 5rem;
  justify-content: center;
  display: flex;
}

._addNewButton {
  background-color: $black;
  border:none;
  color: $white;
  padding: 0.3rem 0.6rem;
  width: 6rem;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
