@import '../../assets/styles/';

._filterBtn {
  width: 6rem;
  height: 1.5rem;
  background-color: $buttonLightBlue;
  border-radius: 5px;
  opacity: 1;
  border: none;
  color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  cursor: pointer;
}