@import '../../assets/styles';

@mixin flexible-container {
  display: flex;
  align-items: center;
}

._container {
  display: flex;
  padding: 2rem 0;
}

._subcontainer {
  flex: 1 50%;
}

._enterprise {
  @include flexible-container;
  justify-content: flex-start;
  flex: 1 80%;

  > div {
    margin-right: 1rem;
  }

  ._image {
    width: 40px;
    height: 40px;   
    display: flex;
    align-items: center; 
  }
}

._text {
  color: $black;
  font-weight: 500;
  letter-spacing: 0px;
  font-size: $extra-large;
}

._tabs {
  width: 70%;
}

._actions {
  @include flexible-container;
  justify-content: flex-end;

  > div._icon {
    margin-left: 2rem;
    cursor: pointer;
  }
}

._blur1 {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
  display: block;
  z-index: 999;
}

._blurNone1 {
  display: none;
  opacity: 0;
  animation: out 0.6s;
}

._noneTool1 {
  // display: none;
  // width:-50%;
  animation: out 0.6s;
  display: none;
}

._closeTools1 {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

@keyframes entry {
  from {
    width: 0%
  }
  to {
    width: 25%;
  }
}

@keyframes out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

._medium{
  height: 30vh;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}