@import '../../assets/styles/index.scss';

._formCountierPartieso {
  background-color: #F1F1F1;
  display: flex;
  justify-content:center;
  align-items: center;
}

._formCounterparties {
  // background-color: orange;
  width: 80%;
}

._inputParty {
  background-color: $shadowGray;
  border:solid 1px $seaGreen;
  width: 100%;
  // display: block;
  // margin-right: auto;
  // margin-left: auto;;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 0.4rem 0.5rem;
  box-sizing: border-box;
  margin-top: 4px;
}
// ._formCounterparties {
//   background-color: green;
//   width: 300px;
//   ;
// }

._inputPartyArea{
  background-color: $shadowGray;
  border:solid 1px $seaGreen;
  width: 100%;
  height: 60px;
  // display: block;
  // margin-right: auto;
  // margin-left: auto;;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 0.4rem 0.5rem;
  box-sizing: border-box;
  margin-top: 4px;

// ._formCounterparties {
//   background-color: green;
//   width: 300px;
//   ;
// }
}

._widthForm {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  // background-color: red;
}

._buttonActionParent {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
._image {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 9px;  
  display: flex;
  align-items: center; 
  background-color: $white;
}
._name{
  width: 100%;
  display: flex;
  justify-content: center;
}
._nameTitle{
font-size: 35px;
margin-left: 20px;
}

._nameSubTitle{
  font-size: 15px;
color: $superDarkGray;
text-align: center;
  }

.div_white{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
._inline{
  display: flex;
  padding: 4px;
  background-color: $white;
}

.div_space{
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

}

._testinParents{
  height: vh;
}
._addon{
  width: 100%;
}

._div_full{
  width: 100%;
}

._addBankButton {
  width: 12.5rem;
  background: #0d1216;
  color: #ffffff;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

._addNewButtonTwo {
  background-color: $black;
  border:none;
  color: $white;
  padding: 0.3rem 0.6rem;
  width: 6rem;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.div_spaceTwo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}


