@import '../../assets/styles/index.scss';

.accountForm {
	text-align: left;
	padding: 2rem;
	margin-top: 40px;

	.fieldForm {
		width: 100%;
		margin: 30px 0;
		input {
			margin-top: 5px;
			width: 90%;
			padding: 10px 10px;
			border-radius: 5px;
			border: 1px solid $seaGreen;
			background: transparent;
		}
	}

	.formikButton {
		@include cancelButton();
		text-align: center;
		margin: 0 auto;
		display: block;
	}
}
