._countBarContainer {
  padding: 36px 48px;
  background-color: #F6F6F6;
  border-radius: 12px;
}

._countBarLabel {
  display: inline-block;
  min-width: 152px;
  padding: 6px;
  font-size: 18px;
  color: #57D6AF;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  background-color: #F1F1F1;
  margin-right: 2rem;
}

._countBarTitle {
  font-size: 24px;
  color: #484848;
  margin-right: 2rem;
}

._countBarPercent {
  color: #C9C9C9;
  font-size: 1rem;
}

._countBarTitle::before {
  content: '\25A0';
  display: inline;
  color: #FFC837;
}

._countBarContent1,
._countBarContent2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

._countBarContent2 {
  margin-top: 1rem;
  height: 5rem;
  justify-content: space-between;
  
  ._bigNumber {
    color: #929292;
    font-size: 5rem;
    flex: 1 20%;
  }

  ._icon {
    flex: 1 20%;
  }

  ._progressBar::before,
  ._progressBar::after {
      position: absolute;
      bottom: -30px;
      color: #929292;
      width: 3%;
      font-size: 12px;
    }

    ._progressBar::before {
      content: '|    0';
    }

    ._progressBar::after {
      content: '|    100';
    }

  ._progressBar {
    width: 60%;
    flex: 1 60%;
    position: relative;

    progress {
      -webkit-appearance: none;
      height: 32px;
      width: 100%;
      background: #ffffff;
      border-radius: 8px;
      color: green;
    }

    progress::-webkit-progress-bar {
      border-radius: 8px;
      background: #ffffff;
    }
  
    progress::-webkit-progress-value {
      border-radius: 8px;
      background: #FFC837;
    }

    progress[value]::-webkit-progress-value {
      background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
    
        border-radius: 2px; 
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    progress[value]::-moz-progress-bar { 
      background-image:
        -moz-linear-gradient(
          0deg, 
          transparent 33%, 
          #FFC837 33%, 
          #FFC837 66%, 
          transparent 66% 
        ),
        -moz-linear-gradient(
          0deg, 
          #FFC837, 
          #FFC837
        );
    
      border-radius: 2px; 
      // background-size: 35px 20px, 100% 100%, 100% 100%; 
    }
  }

}