@import '../../../../assets/styles';

._transButton {
	min-width: 120px;
	text-align: center;
	color: $black;
	background: #efefef;
	padding: 0.3rem 0;
	border-radius: 5px;
	font-size: 1rem;
	width: 10rem;
	border: none;
}
.details {
	background: #efefef;
	border-radius: 5px;
	width: fit-content;
	padding: 5px 30px;
  margin-bottom: 20px;
  margin-top: 17px;
}
._cardContainer {
	> p {
		margin: 1rem 0;
	}
}

._topMargin {
	margin: 4rem 0;
}
