@import '../../assets/styles';

._tableContainer {
  border-collapse: collapse;
}

._flexBorder {
  color: $lightGreen;
  padding: 1em;
  border-bottom: 5px solid;
}

._flexTable {
  border-bottom: 1px solid $dimGray;
}

._flexTable:last-child {
  border: none
}

._flexRow {
  padding: 1.2rem;
  text-align: center;
}

._flexRow > p {
  font-size: .9rem;
  color: $subaGrey;
}

._backgroundRow {
  background-color: $whiteSmoke;
  // padding: 5px 15px 5px 15px;
  font-size: .9rem;
}
