//General colors

$blue             :#33A3DC;
$seaGreen         :#5CD6B1;
$tableGray        :#f6f6f6;
$darkBlue         :#0366a2;
$black            :#0d1216;
$red              :#d52222;
$shadowGray       :#E5E5E5;
$mediumBlue       :#0096c9;
$grayButton       :#f8f8f8;
$white            :#ffffff;
$textGray         :#414141;
$dimGray          :#DCDCDC;
$whiteSmoke       :#F1F1F1;
$buttonLightBlue  :#35A7D6;
$textLightGray    :#C9C9C9;
$textBlack        :#484848;

//Rainbow line 

$darkGray         :#2e4150;
$arsenic          :#304352;
$sunGlow          :#FFC837;
$green            :#24c93f;
$lineBlue         :#0083b0;
$purple           :#0083b0;
$lightGreen       :#57d6af;
$yellow           :#FFC837;
$shineYellow      :#DCE35B;
$perano           :#AEAEE6;
$subaGrey         :#929292;


//Gradients 

$darkBlueToBlue   :$darkBlue, $blue;
$greenToBlue      :$seaGreen, $blue;
$blueToMediumBlue :$blue, $mediumBlue;
$grayTowhite      :$grayButton, $white;
