@import './color.scss';
@import './font.scss';

@mixin sendButton() {
  width: 11rem;
  padding: 8px 2px;
  background: linear-gradient(to left, $greenToBlue);
  color: $white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}



